*.xlsx
*.spec
*.exe
*.zip

.env

adb.exe
AdbWinApi.dll
AdbWinUsbApi.dll
secrets.json
ecstatic-magpie-310310-5c58a2ab08ef.json
key_file.json
__pycache__/
build/
dist/
chromedriver/
.venv/

cafe_auto/etc/content
blog_auto/etc/content
cafe_auto/content
blog_auto/content
blog_auto_new/content/
blog_auto_new/blog_list/

미사용/

Lib/
Scripts/
Include/
pre_image/
result_image/
image_relate/

save_img/

pyvenv.cfg
.zip
.exe

.jpg
.json